<nav id="sidebarNav" class="nav flex-column p-3">
  <div class="mb-3">
    <a class="navbar-brand fw-semibold text-decoration-none" href="/">💈 SaaS Salão</a>
  </div>

  <span class="text-uppercase text-muted small mb-2">Home</span>
    <a href="{% url 'servicos:home' %}" class="nav-link rounded mb-1">Visão geral</a>
  
  <span class="text-uppercase text-muted small mb-2">Cadastros</span>
    <a href="{% url 'cadastros:shop_list' %}" class="nav-link rounded mb-1">Lojas</a>
    <a href="{% url 'cadastros:product_list' %}" class="nav-link rounded mb-1">Produtos</a>
    <a href="{% url 'cadastros:membership_list' %}" class="nav-link rounded mb-1">Membros</a>
    <a href="{% url 'cadastros:client_list' %}" class="nav-link rounded mb-1">Clientes</a>

</nav>